
/* Font Loading */
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
:root {
    --primary-color: rgb(99, 49, 13);
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Cafe24Ssurround', Arial, sans-serif;
    background-color: #FFFCF3;
}

/* Header Styles */
.header {
    text-align: center;
    padding: 20px;
    /* background-color: #6ed2aa; */
}
.time {
    color: #E1E3D9;
}
.title {
    color: #7E686B;
}

/* Grid Container Styles */
.grid-container {
    display: grid;
    grid-gap: 40px;
    padding: 40px;
    /* margin: 40px;
    background-color: #f9eec5; */
    border-radius: 80px;
}

/* Grid Item Styles */
.grid-item {
    border-radius: 60px;
    padding: 50px;
    background-color: #fff0c6;
    font-size: 20px;
    color: #7E686B;
}

h2 {
    margin-top: 0px;
    margin-bottom: 50px;
}

/* Image Styles */
.img {
    font-size: 30px;
}
